#root{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #91e5ce;
}
.container{
    margin: 200px auto;
    background-color: #fff;
    width: 700px;
    display: flex;
    justify-content: space-between;
    min-height: 400px;
    overflow: hidden;
    border-radius: 15px;
    position: relative;
}
.bar{
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-top: 0;
    min-height: 400px;
    width: 350px;
    align-items: center;
}
.from{
    position: fixed;
    top: 0;
    right: 0;
}
.form input:focus{
    outline: none;
}
ul{
    padding: 0;
    width: 100%;
}
#toggle{
    display: none;
}
label{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: #fff;
    margin-right: 10px;
    cursor: pointer;
}
.label .active svg path{
    stroke:#ffffff
}
.label:hover svg path{
    stroke: white;
}
li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}
p{
    flex: 1;
    word-wrap: anywhere;
}
.add_btn{
    opacity: .5;
    height: 30px;
    background-color: inherit;
    border:none;
    transition: opacity .2s linear;
    cursor: pointer;
}
.add_btn:hover{
    opacity: 1;
}
.add_btn:active svg path{
    stroke:green;
}
input{
    height: 30px;

    border: none;
    border-bottom: 1px solid black;

}
.btn_remove{
    border: none;
    background-color: inherit;
    opacity: 0.5;
    transition: opacity .2s linear;
    cursor: pointer;
}
.btn_remove:hover{
    opacity: 1;
}

